.App {
  height: 100vh;
  background-color: #071b33;
  overflow: scroll;
  text-align: center;
}

.container {
  height: 100%;
  background-color: #071b33;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.header-container {
  padding-top: 30px;
}

h1 {
  letter-spacing: 2px;;
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: rgb(253, 255, 125);
}

.no-style-h {
  font-family: -apple-system, Inter, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: normal;
}

.sub-text {
  font-size: 25px;
  color: white;
}

.content-container {
  background-color: #a200d6;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.revive-button {
  position: absolute;
  top: 20px;
  right: 35px;
  background-image: linear-gradient(
    to right,
    #87ff77 0%,
    #99ff7a 0%,
    #6ec458 21%,
    #27aa38 52%,
    #3d9e89 78%,
    #28659e 100%
  );
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin: 5px;
}

.arena-button {
  position: absolute;
  top: 20px;
  right: 35px;
  background-image: linear-gradient(
    to right,
    #c40000 0%,
    #da5b07 0%,
    #bd4500 21%,
    #aa2727 52%,
    #9e3d81 78%,
    #9e2828 100%
  );
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin: 5px;
}

.connect-wallet-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 550px;
}

.connect-wallet-container img {
  padding-bottom: 20px;
  width: 100%;
}

.connect-wallet-button {
  background-image: linear-gradient(
    to right,
    #87ff77 0%,
    #99ff7a 0%,
    #6ec458 21%,
    #27aa38 52%,
    #3d9e89 78%,
    #28659e 100%
  );
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-top: 5px;
}

.mint-button {
  background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 15px;
}

.opensea-button {
  background-color: rgb(32, 129, 226);
}

.mint-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.footer-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #0a223f;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
